div {
    display: none;
}

body {
    background-color: mistyrose;
}

img#A {
    border: 5px solid burlywood;
    display: block;
    margin: auto;
}

img#B {
    border: 5px solid burlywood;
    display: block;
    margin: auto;
}

img#C {
    border: 5px solid burlywood;
    display: block;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color:powderblue;
}

p {
    text-align: center;
    font-family: Helvetica;
    margin-left: 15%;
    margin-right: 15%;
}

h2 {
    font-size: xx-large;
    text-align: center;
}

button {
    border: 3px solid burlywood;
    color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: auto;
    margin-left: 50%;
    margin-right: 50%;
    cursor: pointer;
  }