form {
    text-align: center;
    margin: 0 auto;
    width: 400px;
    padding: 16px;
    border: 5px solid burlywood;
    border-radius: 16px;
    background-image: url("https://i.pinimg.com/originals/fd/60/15/fd6015dd3f31d0223374f993f66e85d3.gif");
    min-height: 280px;
    background-position: center;
    background-size: auto;
    position: relative;
    background-color: beige;
    margin-top: 15%;
    margin-bottom: 15%;
    font-size: larger;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}

p {
    text-align: center;
}

div{
    color:lightcoral;
    font-weight: 200;
    font-size: small;
}

body {
    background-color: mistyrose;
    text-align: center;
}